/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */
@font-face {
    font-family: "DS-Digital";
    src:
        local("DS-Digital"),
        url("./fonts/ds_digital/DS-DIGI.TTF") format(truetype)
}

* {box-sizing: border-box;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background: linear-gradient(to bottom right, #888, #666);
    font-family: system-ui, sans-serif;
}

.display {
    width: 100%;
    min-height: 75px;
    /* font-size: 28pt; */
    font-family: 'DS-Digital', 'Pixelify Sans', monospace;
    padding: 3px 12px 0 12px;
    /* justify-content: flex-end; */
    /* align-items: center; */
    color: white;
    background-color: rgb(60, 80, 100);
    border-radius: 4px;
    border-top: 2px solid #000c;
    border-left: 2px solid #000c;
    border-right: 2px solid #fff2;
    border-bottom: 2px solid #fff2;

    display: grid;
    grid-template-areas: "mem operation" "operator number";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    #mem-set {grid-area: "mem";font-size: 8pt;}
    #small-number {grid-area: operation;font-size: 8pt;text-align: right;}
    #operator {grid-area: operator;font-size: 28pt;}
    #big-number {grid-area: number;font-size: 28pt;text-align: right;}
}

#calculator {
    padding: 24px;
    width: 300px;
    height: 420px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #2f2e2e, #1f1e1e);
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 1px 1px 6px #0009;
}
#calculator::before {
    content: "";
    display: block;
    position: absolute;
    transform: translate(-24px, -24px);
    width: 292px;
    height: 412px;
    border-radius: 7px;
    border-top: .5px solid #fff8;
    border-left: .5px solid #fff8;
    border-right: .5px solid #fff1;
    border-bottom: .5px solid #fff1;
    box-shadow: -2px -2px 8px #fff8;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row:last-child::before {
    width: 40px;
    height: 40px;
}

.button {
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 4px;
    background: linear-gradient(to bottom right, #ff244a,#ff043a);
    border-top: 2px solid rgb(255, 60, 60);
    border-left: 2px solid rgb(255, 60, 60);
    border-right: 2px solid rgb(90, 15, 15);
    border-bottom: 2px solid rgb(90, 15, 15);
    box-shadow: 1px 1px 4px #0008;
    z-index:10;
}
.button::after {
    content: "";
    width:35px;
    aspect-ratio: 1/1;
    position:absolute;
    border: .25px solid white;
    border-radius: 3px;;
    border-top: 2px solid #fff3;
    border-left: 2px solid #fff3;
    border-right: 2px solid #aaa3;
    border-bottom: 2px solid #aaa3;
}
.button:active {
    border-bottom: 2px solid rgb(255, 60, 60);
    border-right: 2px solid rgb(255, 60, 60);
    border-left: 2px solid rgb(180, 30, 30);
    border-top: 2px solid rgb(180, 30, 30);
    color: #fffc;
}
.button:active::after {border: none;}
.button:hover {cursor:pointer;}